*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: ghostwhite;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}


.hide-for-mobile 
{
    @include breakpoint-down(large) {
        display: none !important;
    }
}

.hide-for-desktop 
{
    @include breakpoint-up(large) {
        display: none;
    }
}



    
