.testimonials {

    .testimonial-card
    {
        background-color: rgb(48, 194, 194);
        margin-top:60px;
        position: relative;
      
        width:25%;
   
        img {
            width:200px;
        
          
            border-radius: 100px;

        }

        &::before{
        
            content:'"';
            font-size:10em;
            color:rgb(167, 83, 83);
            bottom:80%;
            transform: rotate(-20deg);
            position: absolute;
            width:100px;
            height:100px;
      
            border-radius: 50%;
      
        }
    }
}